language: php
env:
  global:
    - secure: p2TLxrOfl7xFRhur6Lga5GWxrOr+/+msF3VGqDkNYFTGiGhEWIFel+oaYjcsQL4VQGVpYiIEbMTqXlTWT7cMpUcong0XqWM9C8uMIspy74lvCy/+ypPGwYgs8DyHUbPyF89sWjKPKr6ivlXxWR93RgCdjwa4QanHENUt9pRbJAQX7Zy1Fu7sCpkeu4lgo0zJyFcaxvcQZsknmkLSE6sFG2CGd0JtC1UZstfvzwlBLR6UrNsTLFzzUY3DezZbjraXqbkMXMnEibLgHiPWgL2fBGZkvOZFdc6g61oPEM9CRHuLj3HngCnF86E5S3kHP8iZuO4S6uAjWqZ4LL5mhiAVN3lb3erAC7hXAhr2g13RNI8PDUvaZd53/S580jzxRffWb7LPuitYLI/pRqD3pNAltiRUJaq2BTcW6YCR5PUPStLrkE0HDTB7++i+r4fgukdLp9KtIEejIK6eI8s/z1pwV3dlYg1bJl8h2eA6ATvOz20x8lh0gbfcDYZekMJCdo8Wt9XKluYp24cTwE7wZucYLpMBqT7EddpdbkckTpntRuBjMqJamwlX2sDtWvyjd2AG+v18uZHZbNTjRFbYQioskvJ8L4sYMtJOek8aPiB0iU3J80mtWdy3CXEDvE+xSsNeQq3A3y2lK5IW+yObZFiUbClm6JHeq6dopH3HC2A1c+g=
    - GIT_NAME: TravisCI
    - GIT_EMAIL: mitchellkrog@gmail.com
    - TRAVIS_REPO_SLUG: mitchellkrogza/Travis-CI-Nginx-for-Testing-Nginx-Configuration
    - GIT_BRANCH: master
    
sudo: required
dist: trusty
matrix:
  include:
    - php: 7.0
  allow_failures:
    - php: 7.0
    - php: hhvm
  fast_finish: true
cache:
  - apt
addons:
  apt:
    packages:
      - realpath
      - mailutils
before_install:
  - export TZ=Africa/Johannesburg
install:
  - sudo add-apt-repository -y ppa:nginx/stable
  - sudo apt-get update
  - sudo apt-get install -y --force-yes nginx-extras
script:
  - travis-ci/install-nginx.sh
  - curl -vsf 'http://localhost:9000/index.php' &> /dev/stdout
  - curl -A "googlebot" http://localhost:9000/index.php &> /dev/stdout
  - STATUSCODE=$(curl -A "80legs" http://localhost:9000/index.php &> /dev/stderr --write-out "%{http_code}") | if test $STATUSCODE 52; then exit 0; fi
  - STATUSCODE=$(curl -A "masscan" http://localhost:9000/index.php &> /dev/stderr --write-out "%{http_code}") | if test $STATUSCODE 52; then exit 0; fi
  - STATUSCODE=$(curl -I http://localhost:9000/index.php -e http://100dollars-seo.com &> /dev/stderr --write-out "%{http_code}") | if test $STATUSCODE 52; then exit 0; fi
  - STATUSCODE=$(curl -I http://localhost:9000/index.php -e http://zx6.ru &> /dev/stderr --write-out "%{http_code}") | if test $STATUSCODE 52; then exit 0; fi
  - travis-ci/change-file.sh

before_deploy:
- travis-ci/deploy-package.sh
deploy:
  provider: releases
  api_key:
    secure: ${GH_TOKEN}
  file:
  - "globalblacklist.conf"
  skip_cleanup: true
  on:
    repo: mitchellkrogza/Travis-CI-Nginx-for-Testing-Nginx-Configuration
    tags: false
    branches:
      except:
        - "/^v[0-9]/"
        - "/^V.*$/"
    branches:
       only:
         - "master"
notifications:
  email: false